/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* AFTER RESET */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Righteous', cursive;
}

h1 {
  /* font-family: 'Righteous', cursive; */
  font-size: 36px;
  font-weight: 700;
}

.game {
  display: flex;
  flex-direction: column;
  flex-direction: center;
  align-items: center;
  margin-top: 50px;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 3px outset black;
  border: 3px inset blue;
}

.row {
  display: flex;
  justify-content: space-between;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33.3px;
  width: 33.3px;
  background-color: blueviolet;
  border: 3px outset black;
  border: 3px inset blue;
}

.modal-screen {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
